7-9. 프로젝트 - Movielens 영화 추천 실습
이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할만한 영화 추천 시스템을 제작해 보겠습니다.
이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
별점을 시청횟수로 해석해서 생각하겠습니다.
또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.
MovieLens 1M Dataset 데이터셋의 경우는 크기가 작아서 아래와 같이 직접 다운 받고 압축해제 하겠습니다.

In [2]:
pip install -U pandas-profiling

WARNING: Keyring is skipped due to an exception: Failed to create the collection: Prompt dismissed..
Collecting pandas-profiling
  Downloading pandas_profiling-2.9.0-py2.py3-none-any.whl (258 kB)
     |████████████████████████████████| 258 kB 531 kB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: matplotlib>=3.2.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (3.3.1)
Collecting missingno>=0.4.2
  Downloading missingno-0.4.2-py3-none-any.whl (9.7 kB)
Requirement already satisfied, skipping upgrade: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (20.1.0)
Collecting phik>=0.9.10
  Downloading phik-0.10.0-py3-none-any.whl (599 kB)
     |████████████████████████████████| 599 kB 9.2 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: ipywidgets>=7.5.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (7.5.1)
Requirement already satisfied, skipping upgrade: seaborn>=0.10.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (0.10.1)
Requirement already satisfied, skipping upgrade: tqdm>=4.43.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (4.48.2)
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied, skipping upgrade: scipy>=1.4.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (1.5.2)
Requirement already satisfied, skipping upgrade: jinja2>=2.11.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied, skipping upgrade: numpy>=1.16.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (1.19.1)
Requirement already satisfied, skipping upgrade: requests>=2.23.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (2.24.0)
Collecting confuse>=1.0.0
  Downloading confuse-1.3.0-py2.py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 622 kB/s eta 0:00:011
Collecting tangled-up-in-unicode>=0.0.6
  Downloading tangled_up_in_unicode-0.0.6-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 21.1 MB/s eta 0:00:01
Collecting visions[type_image_path]==0.5.0
  Downloading visions-0.5.0-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 773 kB/s  eta 0:00:01
Requirement already satisfied, skipping upgrade: joblib in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas-profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: certifi>=2020.06.20 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2020.6.20)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied, skipping upgrade: pillow>=6.2.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (7.2.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2020.1)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from phik>=0.9.10->pandas-profiling) (0.51.1)
Requirement already satisfied, skipping upgrade: nbformat>=4.2.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.7)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied, skipping upgrade: traitlets>=4.3.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.3.3)
Requirement already satisfied, skipping upgrade: ipython>=4.0.0; python_version >= "3.3" in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (7.18.1)
Requirement already satisfied, skipping upgrade: ipykernel>=4.5.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.3.4)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from requests>=2.23.0->pandas-profiling) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from requests>=2.23.0->pandas-profiling) (1.25.10)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from requests>=2.23.0->pandas-profiling) (2.10)
Requirement already satisfied, skipping upgrade: pyyaml in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from confuse>=1.0.0->pandas-profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from visions[type_image_path]==0.5.0->pandas-profiling) (2.5)
Collecting imagehash; extra == "type_image_path"
  Downloading ImageHash-4.1.0.tar.gz (291 kB)
     |████████████████████████████████| 291 kB 5.2 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: six in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied, skipping upgrade: setuptools in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (49.6.0.post20200814)
Requirement already satisfied, skipping upgrade: llvmlite<0.35,>=0.34.0.dev0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (0.34.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: jupyter-core in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.6.3)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.2.0)
Requirement already satisfied, skipping upgrade: notebook>=4.4.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.1.3)
Requirement already satisfied, skipping upgrade: decorator in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (4.4.2)
Requirement already satisfied, skipping upgrade: pickleshare in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.17.1)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (3.0.6)
Requirement already satisfied, skipping upgrade: pexpect>4.3; sys_platform != "win32" in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.8.0)
Requirement already satisfied, skipping upgrade: backcall in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: pygments in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.6.1)
Requirement already satisfied, skipping upgrade: jupyter-client in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.1.7)
Requirement already satisfied, skipping upgrade: tornado>=4.2 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.0.4)
Requirement already satisfied, skipping upgrade: PyWavelets in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.5.0->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.16.0)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (1.7.0)
Requirement already satisfied, skipping upgrade: nbconvert in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.6.1)

Requirement already satisfied, skipping upgrade: prometheus-client in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.0)
Requirement already satisfied, skipping upgrade: Send2Trash in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied, skipping upgrade: terminado>=0.8.3 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.3)
Requirement already satisfied, skipping upgrade: argon2-cffi in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.1.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (19.0.2)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.0)
Requirement already satisfied, skipping upgrade: wcwidth in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.5)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.1.0)
Requirement already satisfied, skipping upgrade: bleach in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.1.5)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: testpath in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.4)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: defusedxml in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: cffi>=1.0.0 in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.14.1)
Requirement already satisfied, skipping upgrade: webencodings in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)
Requirement already satisfied, skipping upgrade: packaging in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.4)
Requirement already satisfied, skipping upgrade: pycparser in /root/anaconda3/envs/aiffel/lib/python3.7/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (2.20)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27084 sha256=eb226e525e1a22aa8d81888bc1412c0f4c5b3e33111c505031b65a8714670a32
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.1.0-py2.py3-none-any.whl size=291991 sha256=b08a1f3ed47402206ad3b05311de80103e935db11678b6aec0de8f7c5780c861
  Stored in directory: /root/.cache/pip/wheels/16/72/b0/e5be34699908d9ff25dcb3debbb717987b766af61bbddffdfe
Successfully built htmlmin imagehash
Installing collected packages: missingno, phik, htmlmin, confuse, tangled-up-in-unicode, imagehash, visions, pandas-profiling
Successfully installed confuse-1.3.0 htmlmin-0.1.12 imagehash-4.1.0 missingno-0.4.2 pandas-profiling-2.9.0 phik-0.10.0 tangled-up-in-unicode-0.0.6 visions-0.5.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import pandas_profiling
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.max_rows=150
%matplotlib inline
import os

In [4]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [5]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [6]:
# rating 컬럼의 이름을 play_count로 바꿉니다.
ratings.rename(columns={'rating':'play_count'}, inplace=True)
print(ratings.shape)
ratings.head()

(836478, 4)

   user_id  movie_id  play_count  timestamp
0        1      1193           5  978300760
1        1       661           3  978302109
2        1       914           3  978301968
3        1      3408           4  978300275
4        1      2355           5  978824291

In [7]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
print(movies.shape)
movies.head()

(3883, 3)

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [8]:
# ratings 와 movies를 합쳐줍니다.
df = pd.merge(ratings, movies, on = 'movie_id') # 'movie_id' 를 기준으로 merge합니다.
print(df.shape)
df.head()

(836478, 6)

,user_id,movie_id,play_count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

# Data Profiling
#profile = df.profile_report()
#profile

Columns 분석 (step. 2-1)
user_id: 각 유저의 고유한 id 값입니다. 총 6,039명입니다.
movie_id: 각 영화의 고유한 id 값입니다. 총 3,628편입니다.
play_count: 각 영화에 대한 유저의 별점입니다. 이번 프로젝트에는 재생 횟수로 해석하여 사용합니다. 3회 이하의 수는 제외 했으며,
4(41.7% / 348,971번), 3(31.2% / 261,196번), 5(27.1% 226,310번) 순으로 분포되어 있습니다.
timestamp 1970년 1월 1일(Universal Time (UTC) of January 1, 1970) 이후의 시간정보
title: 각 영화의 제목
genre: 각 영화의 장르

In [9]:
#가장 인기있는 영화 순위 (step. 2-2)
top_mv_df = df.pivot_table(index = 'title', values = 'play_count', aggfunc = [np.sum, np.mean])
top_mv_df = top_mv_df.sort_values(by = ('sum','play_count'), ascending=False) # 'play_count', 'sum' 기준으로 내림차순 정렬
top_mv_df.head(100)

                                                          sum       mean
                                                   play_count play_count
title
American Beauty (1999)                                  14449   4.499844
Star Wars: Episode IV - A New Hope (1977)               13178   4.528522
Star Wars: Episode V - The Empire Strikes Back ...      12648   4.384055
Saving Private Ryan (1998)                              11348   4.431082
Star Wars: Episode VI - Return of the Jedi (1983)       11303   4.161635
Raiders of the Lost Ark (1981)                          11179   4.520421
Silence of the Lambs, The (1991)                        11096   4.441954
Matrix, The (1999)                                      10903   4.479458
Sixth Sense, The (1999)                                 10703   4.487631
Terminator 2: Judgment Day (1991)                       10513   4.190116
Fargo (1996)                                            10465   4.413749
Schindler's List (1993)                                 10317   4.571112
Braveheart (1995)                                       10125   4.375540
Shawshank Redemption, The (1994)                        10085   4.596627
Back to the Future (1985)                               10081   4.097967
Godfather, The (1972)                                    9965   4.598523
Princess Bride, The (1987)                               9866   4.380995
Jurassic Park (1993)                                     9601   3.978864
L.A. Confidential (1997)                                 9515   4.305430
Shakespeare in Love (1998)                               9503   4.294171
Men in Black (1997)                                      9057   3.942969
Pulp Fiction (1994)                                      9053   4.459606
Being John Malkovich (1999)                              8964   4.338819
Groundhog Day (1993)                                     8727   4.114569
E.T. the Extra-Terrestrial (1982)                        8696   4.137012
Forrest Gump (1994)                                      8679   4.292285
Terminator, The (1984)                                   8571   4.245171
Toy Story (1995)                                         8475   4.237500
Ghostbusters (1984)                                      8282   4.038030
Alien (1979)                                             8244   4.293750
Fugitive, The (1993)                                     8083   4.164348
Usual Suspects, The (1995)                               7984   4.577982
Gladiator (2000)                                         7675   4.268632
Blade Runner (1982)                                      7549   4.383856
One Flew Over the Cuckoo's Nest (1975)                   7496   4.461905
Aliens (1986)                                            7335   4.264535
Casablanca (1942)                                        7287   4.489834
Godfather: Part II, The (1974)                           7257   4.468596
Stand by Me (1986)                                       7202   4.167824
Wizard of Oz, The (1939)                                 7182   4.352727
GoodFellas (1990)                                        6978   4.374922
Total Recall (1990)                                      6971   3.903135
Star Wars: Episode I - The Phantom Menace (1999)         6881   3.859226
Monty Python and the Holy Grail (1974)                   6819   4.451044
Jaws (1975)                                              6762   4.231539
Die Hard (1988)                                          6737   4.229127
2001: A Space Odyssey (1968)                             6731   4.292730
Airplane! (1980)                                         6626   4.177806
Indiana Jones and the Last Crusade (1989)                6622   4.209790
Hunt for Red October, The (1990)                         6576   4.143667
Toy Story 2 (1999)                                       6574   4.336412
Babe (1995)                                              6519   4.141677
Bug's Life, A (1998)                                     6383   3.991870
Good Will Hunting (1997)                                 6370   4.258021
Who Framed Roger Rabbit? (1988)                          6279   3.912150
Galaxy Quest (1999)                                      6251   3.976463
When Harry Met Sally... (1989)                           6237   4.194351
Lethal Weapon (1987)                                     6142   4.022266
Abyss, The (1989)                                        6038   3.882958
Dr. Strangelove or: How I Learned to Stop Worry...       6001   4.539334
Ferris Bueller's Day Off (1986)                          5955   4.220411
Butch Cassidy and the Sundance Kid (1969)                5924   4.274170
Amadeus (1984)                                           5801   4.329104
Election (1999)                                          5800   4.101839
Breakfast Club, The (1985)                               5773   4.034242
North by Northwest (1959)                                5737   4.419877
Twelve Monkeys (1995)                                    5729   4.139451
Close Encounters of the Third Kind (1977)                5683   4.136099
Fight Club (1999)                                        5681   4.343272
Christmas Story, A (1983)                                5625   4.360465
Raising Arizona (1987)                                   5570   4.216503
X-Men (2000)                                             5566   3.995693
Big (1988)                                               5558   4.010101
Independence Day (ID4) (1996)                            5533   3.918555
Speed (1994)                                             5520   3.828017
Dances with Wolves (1990)                                5453   4.137329
As Good As It Gets (1997)                                5435   4.133080
Star Trek: The Wrath of Khan (1982)                      5416   4.069121
Annie Hall (1977)                                        5386   4.315705
Clerks (1994)                                            5366   4.162917
Rain Man (1988)                                          5305   4.131620
Graduate, The (1967)                                     5287   4.322976
Psycho (1960)                                            5239   4.329752
High Fidelity (2000)                                     5202   4.118765
There's Something About Mary (1998)                      5126   4.191333
Blues Brothers, The (1980)                               5109   4.106913
Fish Called Wanda, A (1988)                              5095   4.138911
Taxi Driver (1976)                                       5089   4.298142
Titanic (1997)                                           5088   4.006299
Chinatown (1974)                                         5081   4.414422
Reservoir Dogs (1992)                                    5079   4.318878
Full Metal Jacket (1987)                                 5067   4.208472
Apollo 13 (1995)                                         5027   4.144270
Beetlejuice (1988)                                       4993   3.834869
Young Frankenstein (1974)                                4986   4.358392
Chicken Run (2000)                                       4976   4.068684
Thelma & Louise (1991)                                   4959   3.904724
Contact (1997)                                           4957   4.004039
Edward Scissorhands (1990)                               4954   3.855253
Green Mile, The (1999)                                   4952   4.302346

In [10]:
#Build Recommender System (step. 3)
#임의의 유저 데이터 만들기 (step. 3-1)

# 선호하는 영화 5편을 선택합니다.
my_favorite = [2028, 318, 356, 1704,1721]

all_movie_name = []
for i in my_favorite:
    movie_name = list(df[df['movie_id'] == i]['title'].unique())
    all_movie_name.append(movie_name)
all_movie_name

[['Saving Private Ryan (1998)'],
 ['Shawshank Redemption, The (1994)'],
 ['Forrest Gump (1994)'],
 ['Good Will Hunting (1997)'],
 ['Titanic (1997)']]

In [11]:
# 선호하는 영화 5편을 선택합니다.
my_favorite = ['Saving Private Ryan (1998)',
               'Shawshank Redemption, The (1994)',
               'Forrest Gump (1994)',
               'Good Will Hunting (1997)',
               'Titanic (1997)']

# 'kj'라는 user_id가 위 영화를 5번씩 봤다고 가정하겠습니다.
my_movielist = pd.DataFrame({'user_id': ['kj']*5,'title':my_favorite,'play_count':[5]*5})

my_movielist

  user_id                             title  play_count
0      kj        Saving Private Ryan (1998)           5
1      kj  Shawshank Redemption, The (1994)           5
2      kj               Forrest Gump (1994)           5
3      kj          Good Will Hunting (1997)           5
4      kj                    Titanic (1997)           5

In [12]:
# my_movielist 와 df 를 합쳐줍니다.
if not df.isin({'user_id':['kj']})['user_id'].any():  # user_id에 kj 이라는 데이터가 없다면
    df = df.append(my_movielist)                 # 위에 임의로 만든 my_movielist 데이터를 추가해 줍니다. 

print(df.shape)
df[df['user_id'] == 'kj']

(836483, 6)

,user_id,movie_id,play_count,timestamp,title,genre
0,kj,NaN,5,NaN,Saving Private Ryan (1998),NaN
1,kj,NaN,5,NaN,"Shawshank Redemption, The (1994)",NaN
2,kj,NaN,5,NaN,Forrest Gump (1994),NaN
3,kj,NaN,5,NaN,Good Will Hunting (1997),NaN
4,kj,NaN,5,NaN,Titanic (1997),NaN

In [13]:
# CSR matrix (step. 3-2)

# ratings의 user_id,movie_id에 누락된 값이 있습니다. 몇몇 영화는 아예 play_count에 포함되지 않았기 때문입니다. CSR matrix를 만들 때,
# 'row index exceeds matrix dimensions' 오류가 발생함으로, user_id, movie_id를 초기화하여 다시 값을 부여하겠습니다.

user_idx_to_unique = {v: k for k, v in enumerate(df.user_id.unique())}
movie_idx_to_unique = {v: k for k, v in enumerate(df.title.unique())}

In [14]:
user_idx_to_unique

{1: 0,
 2: 1,
 12: 2,
 15: 3,
 17: 4,
 18: 5,
 19: 6,
 24: 7,
 28: 8,
 33: 9,
 39: 10,
 42: 11,
 44: 12,
 47: 13,
 48: 14,
 49: 15,
 53: 16,
 54: 17,
 58: 18,
 59: 19,
 62: 20,
 80: 21,
 81: 22,
 88: 23,
 89: 24,
 95: 25,
 96: 26,
 102: 27,
 107: 28,
 120: 29,
 123: 30,
 131: 31,
 136: 32,
 139: 33,
 146: 34,
 150: 35,
 151: 36,
 155: 37,
 166: 38,
 169: 39,
 175: 40,
 178: 41,
 180: 42,
 190: 43,
 191: 44,
 192: 45,
 195: 46,
 196: 47,
 202: 48,
 208: 49,
 216: 50,
 224: 51,
 225: 52,
 227: 53,
 230: 54,
 231: 55,
 235: 56,
 236: 57,
 242: 58,
 245: 59,
 259: 60,
 261: 61,
 264: 62,
 265: 63,
 266: 64,
 270: 65,
 272: 66,
 281: 67,
 285: 68,
 287: 69,
 291: 70,
 292: 71,
 293: 72,
 294: 73,
 295: 74,
 297: 75,
 299: 76,
 300: 77,
 301: 78,
 306: 79,
 307: 80,
 308: 81,
 309: 82,
 312: 83,
 314: 84,
 315: 85,
 317: 86,
 318: 87,
 319: 88,
 326: 89,
 327: 90,
 329: 91,
 331: 92,
 332: 93,
 333: 94,
 334: 95,
 335: 96,
 339: 97,
 340: 98,
 349: 99,
 352: 100,
 353: 101,
 355: 102,
 357: 103,
 361: 104,
 366: 105,
 383: 106,
 390: 107,
 392: 108,
 393: 109,
 402: 110,
 409: 111,
 411: 112,
 424: 113,
 425: 114,
 437: 115,
 438: 116,
 439: 117,
 440: 118,
 442: 119,
 444: 120,
 445: 121,
 450: 122,
 451: 123,
 453: 124,
 456: 125,
 457: 126,
 460: 127,
 462: 128,
 464: 129,
 467: 130,
 477: 131,
 479: 132,
 480: 133,
 482: 134,
 483: 135,
 489: 136,
 491: 137,
 502: 138,
 504: 139,
 505: 140,
 507: 141,
 509: 142,
 513: 143,
 515: 144,
 516: 145,
 520: 146,
 524: 147,
 526: 148,
 529: 149,
 531: 150,
 533: 151,
 537: 152,
 541: 153,
 549: 154,
 550: 155,
 551: 156,
 554: 157,
 558: 158,
 560: 159,
 573: 160,
 582: 161,
 585: 162,
 587: 163,
 588: 164,
 591: 165,
 599: 166,
 601: 167,
 611: 168,
 620: 169,
 622: 170,
 624: 171,
 626: 172,
 637: 173,
 641: 174,
 650: 175,
 651: 176,
 656: 177,
 660: 178,
 661: 179,
 671: 180,
 673: 181,
 677: 182,
 679: 183,
 681: 184,
 682: 185,
 688: 186,
 690: 187,
 691: 188,
 692: 189,
 698: 190,
 699: 191,
 701: 192,
 702: 193,
 710: 194,
 711: 195,
 719: 196,
 721: 197,
 729: 198,
 732: 199,
 733: 200,
 743: 201,
 744: 202,
 746: 203,
 748: 204,
 749: 205,
 752: 206,
 755: 207,
 760: 208,
 764: 209,
 765: 210,
 770: 211,
 771: 212,
 773: 213,
 774: 214,
 779: 215,
 784: 216,
 785: 217,
 791: 218,
 792: 219,
 793: 220,
 796: 221,
 801: 222,
 810: 223,
 816: 224,
 824: 225,
 825: 226,
 829: 227,
 833: 228,
 839: 229,
 840: 230,
 841: 231,
 843: 232,
 844: 233,
 846: 234,
 850: 235,
 853: 236,
 854: 237,
 862: 238,
 864: 239,
 867: 240,
 868: 241,
 869: 242,
 870: 243,
 886: 244,
 900: 245,
 903: 246,
 904: 247,
 907: 248,
 912: 249,
 919: 250,
 928: 251,
 929: 252,
 934: 253,
 935: 254,
 946: 255,
 948: 256,
 957: 257,
 958: 258,
 960: 259,
 963: 260,
 965: 261,
 971: 262,
 975: 263,
 980: 264,
 983: 265,
 984: 266,
 994: 267,
 999: 268,
 1003: 269,
 1010: 270,
 1014: 271,
 1015: 272,
 1017: 273,
 1018: 274,
 1019: 275,
 1027: 276,
 1028: 277,
 1031: 278,
 1032: 279,
 1035: 280,
 1036: 281,
 1038: 282,
 1040: 283,
 1048: 284,
 1058: 285,
 1059: 286,
 1062: 287,
 1068: 288,
 1077: 289,
 1078: 290,
 1084: 291,
 1088: 292,
 1090: 293,
 1094: 294,
 1098: 295,
 1099: 296,
 1101: 297,
 1105: 298,
 1108: 299,
 1113: 300,
 1115: 301,
 1117: 302,
 1119: 303,
 1120: 304,
 1121: 305,
 1124: 306,
 1126: 307,
 1128: 308,
 1133: 309,
 1134: 310,
 1137: 311,
 1142: 312,
 1150: 313,
 1162: 314,
 1165: 315,
 1169: 316,
 1170: 317,
 1172: 318,
 1174: 319,
 1176: 320,
 1178: 321,
 1180: 322,
 1181: 323,
 1182: 324,
 1197: 325,
 1202: 326,
 1203: 327,
 1204: 328,
 1209: 329,
 1211: 330,
 1216: 331,
 1218: 332,
 1224: 333,
 1225: 334,
 1226: 335,
 1228: 336,
 1231: 337,
 1238: 338,
 1239: 339,
 1242: 340,
 1243: 341,
 1244: 342,
 1246: 343,
 1248: 344,
 1249: 345,
 1260: 346,
 1264: 347,
 1265: 348,
 1266: 349,
 1267: 350,
 1273: 351,
 1274: 352,
 1277: 353,
 1279: 354,
 1285: 355,
 1289: 356,
 1291: 357,
 1293: 358,
 1298: 359,
 1301: 360,
 1303: 361,
 1305: 362,
 1317: 363,
 1324: 364,
 1331: 365,
 1332: 366,
 1333: 367,
 1335: 368,
 1339: 369,
 1340: 370,
 1343: 371,
 1349: 372,
 1365: 373,
 1374: 374,
 1383: 375,
 1390: 376,
 1392: 377,
 1396: 378,
 1399: 379,
 1411: 380,
 1412: 381,
 1413: 382,
 1415: 383,
 1416: 384,
 1421: 385,
 1422: 386,
 1423: 387,
 1427: 388,
 1432: 389,
 1437: 390,
 1440: 391,
 1442: 392,
 1446: 393,
 1447: 394,
 1448: 395,
 1449: 396,
 1451: 397,
 1457: 398,
 1463: 399,
 1470: 400,
 1475: 401,
 1477: 402,
 1482: 403,
 1483: 404,
 1489: 405,
 1495: 406,
 1506: 407,
 1508: 408,
 1517: 409,
 1527: 410,
 1530: 411,
 1536: 412,
 1547: 413,
 1551: 414,
 1552: 415,
 1556: 416,
 1565: 417,
 1569: 418,
 1571: 419,
 1579: 420,
 1584: 421,
 1587: 422,
 1590: 423,
 1591: 424,
 1592: 425,
 1609: 426,
 1613: 427,
 1614: 428,
 1618: 429,
 1619: 430,
 1628: 431,
 1631: 432,
 1632: 433,
 1636: 434,
 1638: 435,
 1639: 436,
 1642: 437,
 1648: 438,
 1654: 439,
 1660: 440,
 1671: 441,
 1676: 442,
 1680: 443,
 1681: 444,
 1682: 445,
 1685: 446,
 1694: 447,
 1696: 448,
 1697: 449,
 1701: 450,
 1702: 451,
 1712: 452,
 1717: 453,
 1720: 454,
 1732: 455,
 1733: 456,
 1739: 457,
 1741: 458,
 1742: 459,
 1744: 460,
 1748: 461,
 1753: 462,
 1758: 463,
 1760: 464,
 1762: 465,
 1768: 466,
 1775: 467,
 1780: 468,
 1788: 469,
 1794: 470,
 1797: 471,
 1800: 472,
 1802: 473,
 1811: 474,
 1812: 475,
 1820: 476,
 1824: 477,
 1828: 478,
 1836: 479,
 1837: 480,
 1842: 481,
 1843: 482,
 1863: 483,
 1869: 484,
 1873: 485,
 1874: 486,
 1877: 487,
 1879: 488,
 1880: 489,
 1882: 490,
 1884: 491,
 1889: 492,
 1890: 493,
 1892: 494,
 1894: 495,
 1895: 496,
 1896: 497,
 1897: 498,
 1899: 499,
 1908: 500,
 1909: 501,
 1911: 502,
 1912: 503,
 1914: 504,
 1916: 505,
 1920: 506,
 1926: 507,
 1928: 508,
 1940: 509,
 1941: 510,
 1943: 511,
 1946: 512,
 1947: 513,
 1952: 514,
 1959: 515,
 1964: 516,
 1969: 517,
 1972: 518,
 1980: 519,
 1981: 520,
 1988: 521,
 1991: 522,
 1996: 523,
 1998: 524,
 1999: 525,
 2000: 526,
 2007: 527,
 2008: 528,
 2010: 529,
 2013: 530,
 2015: 531,
 2018: 532,
 2020: 533,
 2023: 534,
 2030: 535,
 2038: 536,
 2039: 537,
 2041: 538,
 2042: 539,
 2046: 540,
 2047: 541,
 2050: 542,
 2063: 543,
 2064: 544,
 2071: 545,
 2073: 546,
 2083: 547,
 2084: 548,
 2092: 549,
 2098: 550,
 2100: 551,
 2102: 552,
 2105: 553,
 2106: 554,
 2109: 555,
 2110: 556,
 2119: 557,
 2122: 558,
 2139: 559,
 2140: 560,
 2148: 561,
 2153: 562,
 2154: 563,
 2157: 564,
 2164: 565,
 2165: 566,
 2168: 567,
 2173: 568,
 2175: 569,
 2176: 570,
 2179: 571,
 2181: 572,
 2185: 573,
 2188: 574,
 2200: 575,
 2201: 576,
 2208: 577,
 2210: 578,
 2219: 579,
 2222: 580,
 2231: 581,
 2233: 582,
 2237: 583,
 2243: 584,
 2244: 585,
 2247: 586,
 2249: 587,
 2251: 588,
 2253: 589,
 2254: 590,
 2259: 591,
 2264: 592,
 2275: 593,
 2279: 594,
 2281: 595,
 2285: 596,
 2288: 597,
 2296: 598,
 2301: 599,
 2303: 600,
 2304: 601,
 2306: 602,
 2309: 603,
 2313: 604,
 2317: 605,
 2323: 606,
 2324: 607,
 2331: 608,
 2332: 609,
 2334: 610,
 2336: 611,
 2338: 612,
 2340: 613,
 2342: 614,
 2345: 615,
 2348: 616,
 2353: 617,
 2355: 618,
 2356: 619,
 2360: 620,
 2368: 621,
 2376: 622,
 2385: 623,
 2387: 624,
 2392: 625,
 2393: 626,
 2395: 627,
 2406: 628,
 2408: 629,
 2410: 630,
 2417: 631,
 2421: 632,
 2428: 633,
 2437: 634,
 2442: 635,
 2449: 636,
 2451: 637,
 2453: 638,
 2454: 639,
 2462: 640,
 2465: 641,
 2468: 642,
 2470: 643,
 2472: 644,
 2474: 645,
 2476: 646,
 2478: 647,
 2481: 648,
 2484: 649,
 2485: 650,
 2489: 651,
 2496: 652,
 2497: 653,
 2501: 654,
 2507: 655,
 2515: 656,
 2518: 657,
 2526: 658,
 2529: 659,
 2532: 660,
 2534: 661,
 2535: 662,
 2536: 663,
 2542: 664,
 2543: 665,
 2544: 666,
 2546: 667,
 2547: 668,
 2550: 669,
 2561: 670,
 2565: 671,
 2567: 672,
 2569: 673,
 2575: 674,
 2580: 675,
 2584: 676,
 2585: 677,
 2590: 678,
 2597: 679,
 2602: 680,
 2604: 681,
 2605: 682,
 2607: 683,
 2608: 684,
 2611: 685,
 2613: 686,
 2616: 687,
 2619: 688,
 2623: 689,
 2624: 690,
 2625: 691,
 2626: 692,
 2627: 693,
 2628: 694,
 2631: 695,
 2636: 696,
 2638: 697,
 2641: 698,
 2643: 699,
 2650: 700,
 2652: 701,
 2659: 702,
 2662: 703,
 2664: 704,
 2665: 705,
 2669: 706,
 2670: 707,
 2673: 708,
 2683: 709,
 2684: 710,
 2691: 711,
 2693: 712,
 2694: 713,
 2699: 714,
 2700: 715,
 2704: 716,
 2709: 717,
 2731: 718,
 2733: 719,
 2735: 720,
 2736: 721,
 2749: 722,
 2750: 723,
 2751: 724,
 2752: 725,
 2753: 726,
 2757: 727,
 2762: 728,
 2764: 729,
 2765: 730,
 2766: 731,
 2773: 732,
 2774: 733,
 2780: 734,
 2781: 735,
 2786: 736,
 2788: 737,
 2790: 738,
 2793: 739,
 2803: 740,
 2807: 741,
 2814: 742,
 2818: 743,
 2820: 744,
 2825: 745,
 2826: 746,
 2831: 747,
 2838: 748,
 2843: 749,
 2847: 750,
 2848: 751,
 2854: 752,
 2855: 753,
 2857: 754,
 2859: 755,
 2860: 756,
 2866: 757,
 2877: 758,
 2878: 759,
 2880: 760,
 2889: 761,
 2892: 762,
 2893: 763,
 2895: 764,
 2901: 765,
 2907: 766,
 2909: 767,
 2914: 768,
 2921: 769,
 2928: 770,
 2929: 771,
 2939: 772,
 2942: 773,
 2944: 774,
 2946: 775,
 2952: 776,
 2955: 777,
 2957: 778,
 2960: 779,
 2963: 780,
 2964: 781,
 2965: 782,
 2967: 783,
 2972: 784,
 2974: 785,
 2975: 786,
 2978: 787,
 2989: 788,
 2990: 789,
 3000: 790,
 3001: 791,
 3002: 792,
 3005: 793,
 3012: 794,
 3015: 795,
 3016: 796,
 3017: 797,
 3020: 798,
 3029: 799,
 3036: 800,
 3038: 801,
 3042: 802,
 3044: 803,
 3049: 804,
 3050: 805,
 3054: 806,
 3067: 807,
 3069: 808,
 3072: 809,
 3075: 810,
 3078: 811,
 3080: 812,
 3081: 813,
 3082: 814,
 3089: 815,
 3090: 816,
 3098: 817,
 3108: 818,
 3112: 819,
 3117: 820,
 3118: 821,
 3128: 822,
 3129: 823,
 3131: 824,
 3132: 825,
 3135: 826,
 3136: 827,
 3139: 828,
 3145: 829,
 3146: 830,
 3148: 831,
 3156: 832,
 3159: 833,
 3163: 834,
 3168: 835,
 3171: 836,
 3172: 837,
 3175: 838,
 3177: 839,
 3180: 840,
 3182: 841,
 3187: 842,
 3191: 843,
 3193: 844,
 3195: 845,
 3198: 846,
 3200: 847,
 3201: 848,
 3204: 849,
 3211: 850,
 3215: 851,
 3216: 852,
 3220: 853,
 3222: 854,
 3224: 855,
 3226: 856,
 3229: 857,
 3233: 858,
 3244: 859,
 3245: 860,
 3246: 861,
 3249: 862,
 3251: 863,
 3253: 864,
 3259: 865,
 3260: 866,
 3265: 867,
 3270: 868,
 3271: 869,
 3272: 870,
 3277: 871,
 3280: 872,
 3281: 873,
 3282: 874,
 3284: 875,
 3285: 876,
 3286: 877,
 3287: 878,
 3292: 879,
 3299: 880,
 3300: 881,
 3301: 882,
 3304: 883,
 3306: 884,
 3310: 885,
 3313: 886,
 3322: 887,
 3323: 888,
 3333: 889,
 3336: 890,
 3338: 891,
 3339: 892,
 3344: 893,
 3346: 894,
 3348: 895,
 3351: 896,
 3352: 897,
 3355: 898,
 3359: 899,
 3361: 900,
 3367: 901,
 3369: 902,
 3371: 903,
 3380: 904,
 3383: 905,
 3389: 906,
 3390: 907,
 3391: 908,
 3394: 909,
 3398: 910,
 3400: 911,
 3402: 912,
 3403: 913,
 3404: 914,
 3410: 915,
 3411: 916,
 3413: 917,
 3415: 918,
 3419: 919,
 3420: 920,
 3425: 921,
 3428: 922,
 3430: 923,
 3434: 924,
 3435: 925,
 3453: 926,
 3456: 927,
 3462: 928,
 3464: 929,
 3468: 930,
 3474: 931,
 3475: 932,
 3476: 933,
 3478: 934,
 3481: 935,
 3483: 936,
 3487: 937,
 3488: 938,
 3491: 939,
 3493: 940,
 3495: 941,
 3496: 942,
 3501: 943,
 3502: 944,
 3503: 945,
 3506: 946,
 3507: 947,
 3512: 948,
 3514: 949,
 3515: 950,
 3520: 951,
 3521: 952,
 3523: 953,
 3525: 954,
 3527: 955,
 3534: 956,
 3538: 957,
 3539: 958,
 3541: 959,
 3546: 960,
 3550: 961,
 3551: 962,
 3558: 963,
 3566: 964,
 3567: 965,
 3569: 966,
 3576: 967,
 3588: 968,
 3590: 969,
 3592: 970,
 3594: 971,
 3596: 972,
 3600: 973,
 3601: 974,
 3612: 975,
 3615: 976,
 3618: 977,
 3620: 978,
 3621: 979,
 3624: 980,
 3626: 981,
 3627: 982,
 3641: 983,
 3645: 984,
 3647: 985,
 3648: 986,
 3650: 987,
 3651: 988,
 3653: 989,
 3658: 990,
 3666: 991,
 3668: 992,
 3672: 993,
 3673: 994,
 3674: 995,
 3681: 996,
 3684: 997,
 3685: 998,
 3688: 999,
 ...}

In [16]:
temp_user_data = df.user_id.map(user_idx_to_unique.get).dropna()
temp_movie_data = df.title.map(movie_idx_to_unique.get).dropna()

In [17]:
temp_user_data

0       0
1       1
2       2
3       3
4       4
     ...
0    6039
1    6039
2    6039
3    6039
4    6039
Name: user_id, Length: 836483, dtype: int64

In [18]:
df.user_id = temp_user_data
df.title = temp_movie_data

In [19]:
df.user_id

0       0
1       1
2       2
3       3
4       4
     ...
0    6039
1    6039
2    6039
3    6039
4    6039
Name: user_id, Length: 836483, dtype: int64

In [20]:
from scipy.sparse import csr_matrix
num_user = df['user_id'].nunique()
num_movie = df['title'].nunique()

csr_data = csr_matrix((df.play_count, (df.user_id, df.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [21]:
num_user

6040

In [22]:
num_movie

3628

In [23]:
#MF model (step. 3-3)

from implicit.als import AlternatingLeastSquares

os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [24]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [25]:
# 훈련된 모델이 'Saving Private Ryan (1998)'을 예측한 나의 선호도를 파악해봅시다.
kj, saving_private_ryan =  user_idx_to_unique['kj'], movie_idx_to_unique['Saving Private Ryan (1998)']
kj_vector, saving_private_ryan_vector = als_model.user_factors[kj], als_model.item_factors[saving_private_ryan]

In [26]:
kj_vector

array([ 0.54280734, -0.2622057 , -0.58142823,  0.06421683,  0.47733614,
        0.17653853, -0.19893883,  0.04604925,  0.2304026 ,  0.19615759,
        0.89935094, -0.01028621, -0.10473733,  0.81254417,  0.9733365 ,
       -0.91581136,  0.59676075,  0.24672458,  0.5247193 , -0.17108133,
       -0.060828  ,  0.8288312 ,  0.6896941 , -0.6900663 ,  0.27220842,
       -0.33431932,  0.03073039, -0.09167901,  0.4534842 ,  0.6804024 ,
        0.18589903, -0.15619984,  0.56839913, -0.8543174 , -0.48147774,
       -0.07659622,  0.0353893 , -0.32551774, -0.76036847,  0.14524592,
       -0.23924993, -0.2561144 , -0.5068319 ,  0.12884413, -1.4060891 ,
       -0.39654538,  0.09098975,  0.82848996, -0.04061026, -1.0581591 ,
        0.3094207 , -0.57880557,  0.42357647,  0.03232566,  0.33333662,
        0.39240023, -0.029327  ,  0.15835993, -0.47822547, -0.04721342,
        0.13615729, -0.59636056,  0.29747528,  0.6741744 ,  0.1367727 ,
       -0.24345243, -0.31361237,  0.4654004 , -0.14048626,  0.03377191,
       -0.9396858 , -0.25961775, -0.7192299 , -0.7214708 , -0.32360715,
        0.11533759,  0.5301405 ,  0.7235247 ,  0.52311087, -0.45192224,
       -0.40632293,  0.32523635,  0.694954  , -0.65419406,  0.5697407 ,
       -1.178286  ,  0.76197475, -0.28496674, -0.18007061,  0.34685528,
       -0.5631009 , -0.31644753,  0.09135574,  1.9658653 ,  1.1871263 ,
       -1.0778421 ,  0.17724024,  0.11924406, -0.2647324 ,  0.00463391],
      dtype=float32)

In [27]:
saving_private_ryan_vector

array([-4.57129069e-03, -3.63203436e-02, -1.34436730e-02, -1.72453001e-02,
        7.90291888e-05,  6.10426394e-03, -2.13215448e-04, -6.70915470e-04,
        4.60074609e-03,  7.21925776e-03,  3.22861038e-02,  2.05098391e-02,
       -1.03366273e-02,  3.99378911e-02,  4.51814458e-02, -1.53874243e-02,
        1.71400793e-02, -1.15447473e-02,  1.87443346e-02,  1.89206246e-02,
        3.33133005e-02,  3.64488140e-02,  2.96161813e-03, -8.74520221e-04,
        2.80700903e-02,  2.80826148e-02,  2.84755994e-02,  3.26633733e-03,
        2.79688481e-02,  4.07290682e-02,  9.81368776e-03,  3.12410817e-02,
        2.89295055e-02, -5.60640870e-03,  9.15232394e-03,  2.54553314e-02,
        8.60607903e-03, -5.02097188e-04, -1.74248498e-02,  1.71658453e-02,
        2.98977997e-02,  1.34420665e-02, -2.50851810e-02, -6.42889924e-03,
       -5.20998240e-03, -2.37620389e-03, -3.41742393e-03,  2.55234446e-02,
        1.91088095e-02, -9.18348227e-03,  2.29154695e-02, -9.20802820e-03,
        3.53743322e-02,  4.76581568e-04,  5.57911582e-03,  1.37154083e-03,
        1.29787065e-02, -5.35005704e-03, -7.38389464e-03, -6.15804363e-03,
        2.19135322e-02, -3.63292918e-02,  2.59953761e-03,  3.52797136e-02,
        2.28035022e-02, -8.35447281e-06,  5.77595551e-04,  3.39206643e-02,
        1.19783115e-02, -4.89640562e-03, -2.59810165e-02, -1.24746859e-02,
       -2.06765868e-02, -2.33681239e-02, -1.71333440e-02,  2.95023043e-02,
        1.41697060e-02, -2.60883942e-03,  1.58879091e-03, -8.00854061e-03,
       -4.46204804e-02, -4.69462480e-03,  1.75007805e-02, -3.99476103e-02,
        1.76054649e-02, -9.11390502e-03,  2.00741310e-02,  2.70074187e-03,
       -2.54768711e-02, -2.59429752e-03, -3.51743004e-03, -2.05899943e-02,
        6.12551253e-03,  2.54883524e-02,  4.43249829e-02, -4.50167730e-02,
       -1.53827202e-03, -1.78132113e-02, -1.93809369e-03,  2.80237272e-02],
      dtype=float32)

In [29]:
# kj와 'Saving Private Ryan (1998)'를 내적하는 코드
np.dot(kj_vector, saving_private_ryan_vector) # 0.80가 나왔습니다.

0.71851414

In [30]:
# 훈련된 모델이 'Toy Story (1995)'을 예측한 나의 선호도를 파악해봅시다.
kj, toy_story =  user_idx_to_unique['kj'], movie_idx_to_unique['Toy Story (1995)']
kj_vector, toy_story_vector = als_model.user_factors[kj], als_model.item_factors[toy_story]

In [31]:
# kj와 'Toy Story (1995)''를 내적하는 코드
np.dot(kj_vector, toy_story_vector) # 0.21이 나왔습니다.

0.1701807

In [32]:
#선호하는 영화와 비슷한 영화 추천하기 (step. 3-4)

# 'Saving Private Ryan (1998)' 와 유사한 영화를 추천해보겠습니다.
favorite_movie = movie_idx_to_unique['Saving Private Ryan (1998)']
similar_movie = als_model.similar_items(favorite_movie, N=15)
similar_movie

[(48, 1.0000001),
 (87, 0.6964153),
 (23, 0.55390877),
 (157, 0.49792713),
 (487, 0.48583353),
 (141, 0.4126544),
 (124, 0.39743277),
 (248, 0.3894602),
 (3499, 0.34132737),
 (121, 0.32840103),
 (92, 0.32813686),
 (323, 0.32448816),
 (75, 0.31844515),
 (988, 0.31575018),
 (99, 0.31397563)]

In [33]:
# movie_id와 title 매칭하기
idx_to_movie = {v:k for k,v in movie_idx_to_unique.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Saving Private Ryan (1998)',
 'Braveheart (1995)',
 "Schindler's List (1993)",
 'Shawshank Redemption, The (1994)',
 'Boat, The (Das Boot) (1981)',
 'Fugitive, The (1993)',
 'Matrix, The (1999)',
 'Good Will Hunting (1997)',
 'Simon Sez (1999)',
 'Silence of the Lambs, The (1991)',
 'Terminator 2: Judgment Day (1991)',
 'Dead Man Walking (1995)',
 'Hunt for Red October, The (1990)',
 'Glory (1989)',
 'American Beauty (1999)']

In [34]:
# 'kj' 유저가 가장 좋아할 만한 영화들 추천 하기(step. 3-5)

user = user_idx_to_unique['kj']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

# movie_id와 title 매칭하기
idx_to_movie = {v:k for k,v in movie_idx_to_unique.items()}
[idx_to_movie[i[0]] for i in movie_recommended]

["Schindler's List (1993)",
 'Braveheart (1995)',
 'Silence of the Lambs, The (1991)',
 'Jerry Maguire (1996)',
 'Back to the Future (1985)',
 'American Beauty (1999)',
 'Apollo 13 (1995)',
 'Sixth Sense, The (1999)',
 'Pulp Fiction (1994)',
 'Groundhog Day (1993)',
 'GoodFellas (1990)',
 'As Good As It Gets (1997)',
 'Fargo (1996)',
 'Green Mile, The (1999)',
 'Rain Man (1988)',
 'Truman Show, The (1998)',
 'Dead Man Walking (1995)',
 'Boat, The (Das Boot) (1981)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Sling Blade (1996)']

In [35]:
# 'Saving Private Ryan (1998)'이 추천에 기여한 정도 알아보기
explain = als_model.explain(user, csr_data, itemid=saving_private_ryan)
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Saving Private Ryan (1998)', 0.4785338250772646),
 ('Shawshank Redemption, The (1994)', 0.09968009667177516),
 ('Good Will Hunting (1997)', 0.0695796154083188),
 ('Forrest Gump (1994)', 0.05229359774320461),
 ('Titanic (1997)', 0.006298156427396534)]